.snack {
    color: #161518;
    border-radius: 4px;
    background-color: transparent;
    min-width: 280px;
    min-height: 80px;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}

.s-light {
    background-color: #F8F9FA;
    color: #343A40;
}

.s-dark {
    background-color: #343A40;
    color: #F8F9FA;
}

.s-grey {
    background-color: #6C757D;
    color: #F8F9FA;
}

.s-gray {
    background-color: gray;
    color: #F8F9FA;
}

.s-primary {
    background-color: #007BFF;
    color: #F8F9FA;
}

.s-info {
    background-color: #17A2B8;
    color: #F8F9FA;
}

.s-success {
    background-color: #28A745;
    color: #F8F9FA;
}

.s-danger {
    background-color: #DC3545;
    color: #F8F9FA;
}

.s-warning {
    background-color: #FFC107;
    color: #F8F9FA;
}

.s-title {
    font-weight: bold;
    font-style: oblique;
    font-size: 14px;
    margin: 0;
    padding: 2px 0 0 2px;
    /* background-color: green; */
    min-height: 17px;
    min-width: 276px;
    overflow: hidden;
}

.s-content {
    font-style: oblique;
    font-size: 13px;
    margin: 0;
    padding: 0 0 1px 2px;
    /* background-color: brown; */
    min-height: 56px;
    width: 276px;
    overflow: hidden;
}

.s-center {
    position: fixed;
    margin: -50px 0 0 -100px;
    top: 50%;
    left: 50%;
}

.s-bottom-center {
    position: fixed;
    margin: -40px 0 0 -100px;
    top: 90%;
    left: 50%;
}

.s-bottom-left {
    position: fixed;
    margin: -30px 0 0 20px;
    top: 90%;
}

.s-bottom-right {
    position: fixed;
    margin: -30px 0 0 0;
    top: 90%;
    left: 55%;
}

.s-top-left {
    margin: 10px 0 0 10px;
    bottom: 85%;
    float: left;
}

.s-top-right {
    margin: 10px 10px 0 0;
    bottom: 85%;
    float: right;
}

.s-top-center {
    position: fixed;
    margin: 0 0 0 -100px;
    bottom: 85%;
    left: 50%;
}